{% extends 'base.html.twig' %}

{% block body %}

{% if not app.user %}
    <section>
        <form action="{{ path("login") }}" method="post">
            <p><input type="text" required placeholder="Adresse e-mail" name="_username"></p>
            <p><input type="password" required placeholder="Mot de passe" name="_password"></p>
            <input type="submit" value="Envoyer">
        </form>
    </section>
{% else %}
    <p>Vous êtes déjà connecté.</p>
{% endif %}

{% endblock %}
