/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Sarala&family=Lato&family=Yanone+Kaffeesatz&family=Catamaran&display=swap');

/* RESET START */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* RESET END */

.error {
	color: purple; 
	font-weight: bold;
}

.details-text {
	font-style: italic;
	font-size: 0.9rem;
}

.important-text {
	font-weight: bold;
	font-size: 1.2rem;
}

#full-reservations {
	background-color: rgba(148, 39, 39, 0.8);
	color: white;
	font-weight: bold;
	font-size: 0.9rem;
	text-align: center;
	padding: 3px;
}

/* GÉNÉRAL */

p, a, h3, li {
	font-family: "Catamaran";
}

.container__body {
	line-height: 1.5;
	padding: 50px 0;
	min-height: 400px;
	font-size: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgb(247, 248, 250);
	position: relative;
}

.main {
	padding: 20px;
	width: 60%;
	margin: 50px auto;
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	filter: drop-shadow(0px 10px 5px rgba(206, 182, 206, 0.4));
}
main a:hover, .login-block__form a:hover {
	color: indigo;
}
.event-reservations a {
	color: white;
}
a {
	color: purple;
	text-decoration: none;
}
a:hover {
	color: indigo;
}

label {
	font-size: 0.8em;
	font-weight: bold;
	color: purple;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
	margin-bottom: 10px;
	font-family: 'Sarala';
	font-size: 1.8rem;
	color: purple;
	transition: 0.20s;
	display: inline-block;
}
.title--line {
	border-bottom: 3px solid purple;
	width: 30%;
	margin: 0 0 10px 10px;
	transition: 0.45s;
}
.title:hover .title--line {
	width: 90%;
}

.btn-block {
	margin: 20px auto;
	text-align: center;
}
.btn {
	background: rgb(137, 78, 143);
	color: white;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 10px;
	border-radius: 5%;
	transition: 0.25s;
	font-family: "Lato";
	font-weight: bold;
}
.btn:hover {
	background: purple;
	transition: 0.25s;
}

.each-block {
	width: 50%;
	border-radius: 10px;
	margin: 5px auto;
	padding: 10px 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(104, 93, 104, 0.1);
	box-sizing: border-box;
	
}
.each-block a {
	text-decoration: none;
	color: purple;
}
.each-block .title {
	margin-bottom: 0;
}
.each-block:hover {
	background-color: rgba(104, 93, 104, 0.3);
}
.each-block:hover .title--line {
	width: 90%;
}

/* HEADER */
.container__header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;
	border-bottom: solid 0.5px black;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.header__login {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 5px;
	width: 80%;
	text-align: center;
	font-size: 1em;
}
.header__login a {
	color: white;
}
.header__login a i, .header__login a i:hover {
	color: white;
}
.header__home {
	width: 98%;
	padding-left: 130px;
	display: flex;
	align-items: center;
	font-size: 2em;
}
.header__user-parameters {
	width: 2%;
	padding-right: 130px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 2em;

}
.container__header i {
	cursor: pointer;
	color: rgba(128, 0, 128, 0.6);
	transition: 0.25s;
}
.container__header i:hover {
	color: purple;
	transition: 0.25s;
}
#activeUserIcon { 
	display: none;
}

.user-parameters--active {
	width: 290px;
	display: none;
	flex-direction: column;
	align-items: center;
	position: absolute;
	right: 10px;
	top: 54px;
	z-index: 9999;
	padding: 10px;
	background-color: rgba(128, 0, 128, 0.95);
	color: white;
	font-size: 1.3rem;
	line-height: 1.9;
}

.each-parameter {
	width: 100%;
	text-align: center;
}
.each-parameter:hover, .each-parameter:hover a, .each-parameter:hover a i {
	background-color: rgb(247, 137, 255);
	color: rgb(98, 0, 98);
	transition: 0s;
}
.each-parameter a, .each-parameter a i {
	color: white;
}
.user-parameters--active li a i {
	transition: 0s;
}

/* FOOTER */

.container__footer {
	border-top: solid 0.5px black;
	display: flex;
	flex-direction: row;
	height: 50px;
	padding: 20px;
	justify-content: center;
}

.social_networks {
	margin: auto;
    text-align: center;
    font-family: "Argh", Helvetica, sans-serif;
    font-weight: bold;
}

.social_networks_icn i {
    color: rgba(126, 119, 119, 0.679);
    font-size: 3em;
    transition-property: color; 
    transition-duration: 1s; 
    padding-left: 5px;
}

.fa-facebook:hover {
    color: rgb(66, 103, 178);
}

.fa-twitter:hover {
    color: rgb(0, 172, 237);
}

.fa-instagram:hover {
    color: rgb(191, 48, 135);
}

/* LOGIN & REGISTER */
.login-block {
	width: 25%;
	margin: 20px auto;
	color: purple;
	padding: 80px;
	background: rgba(255, 255, 255, 0.6);
	filter: drop-shadow(0px 10px 5px rgba(206, 182, 206, 0.4));
	border: 1px solid rgba(70, 69, 70, 0.1);
}

.login-block__form {
	width: 100%;
	overflow: hidden;
	font-size: 20px;
}

.login-block__form input {
	width: 60%;
	background: none;
	border: none;
	outline: none;
	padding: 8px 0;
	margin: 18px 0 18px 10px;
	font-size: 18px;
	color: purple;
	border-bottom: 0.5px solid purple;
	transition: 0.25s;
}
.login-block__form input:focus {
	width: 80%;
	border-bottom: 1px solid indigo;
	color: indigo;
}

.login-block__form input[type=submit] {
	width: 95%;
	color: purple;
	cursor: pointer;
	font-weight: bold;
	margin-top: 20px;
	transition: 0.25s;
	border: 1px solid purple;
}
.login-block__form input[type=submit]:hover {
	color: indigo;
	border: 1px solid indigo;
	transition: 0.25s;
}

/* EVENTS LIST */

.search-event-block {
	width: 100%;
	height: 95vh;
	box-sizing: border-box;
	background: fixed;
	background-size: cover;
	background-color: white; /* SI L'IMAGE NE S'AFFICHE PAS */
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	justify-content: center;
}
.search-event-block__content {
	width: 39%;
	border-radius: 2px;
	background: rgba(255, 255, 255, 0.6);
	filter: drop-shadow(0px 10px 5px rgba(128, 0, 128, 0.4));
	color: rgba(128, 0, 128, 0.4);
	padding: 20px;
}
.search-event-block .title {
	font-family: "Yanone Kaffeesatz";
	font-size: 2rem;
}
.search-event-block__form {
	width: 100%;
	position: relative;
	text-align: center;
	margin-bottom: 10px;
}
#concert_search_concertsQuery {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	background: rgba(0,0,0,0.3);
	border: 2px solid white;
	border-radius: 10px;
	font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 18px;
	font-style: italic;
	color: white;
	outline: none;
	transition: 0.35s;
}
#concert_search_concertsQuery::-webkit-input-placeholder{
	color: white;
}
#concert_search_concertsQuery::-moz-placeholder{
	color: white;
}
#concert_search_concertsQuery::-ms-placeholder{
	color: white;
}
#concert_search_concertsQuery:focus {
	transition: 0.35s;
	border-color: rgba(128, 0, 128, 0.4);
}

.fa-search {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	color: white;
	font-size: 25px;
}

.query {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.noEvent {
	display: flex;
	justify-content: center;
	text-align: center;
}

.query_map_block {
	width: 50%;
	display: flex;
}

.query_map_block #map {
	width: 80%;
	height: 80%;
	margin: auto;
	border-radius: 10px;
	border: 1px solid purple;
}

.each-event {
	width: 0;
	flex-direction: row;
	cursor: pointer;
	padding : 0;
	overflow: hidden;
}
.each-event__image {
	margin-right: 20px;
}
.each-event-content {
	display: flex;
	flex-direction: column;
}
.each-event:hover * {
	color: indigo;
}
.each-event .title {
	font-size: 1.3rem;
}
.each-event:hover .title--line {
	transition: 0.45s;
	border-bottom-color: indigo;
	width: 90%;
}

/* SHOW EVENT */

.event-introduction {
	text-align: center;
	margin-top: 10px;
}

.smartphone-version {
	display: none;
}

.event-content {
	display: flex;
	min-height: 95vh;
	flex-direction: row; 
	justify-content: space-between;
	text-align: center;
}

.event-description {
	width: 0;
	text-align: center;
	background-color: rgb(247, 248, 250);
	overflow: hidden;
}

.video-block {
	margin-bottom: 10px;
}

.event-sides-block {
	margin-top: -70px;
	width: 40%;
	height: 95vh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.event-sides-block i {
	color: purple;
}

.event-side-block {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 0;
	overflow: hidden;
	padding: 20px;
	border-radius: 10px;
	background-color: rgba(104, 93, 104, 0.1);
}
.event-side-block:hover .title--line {
	transition: 0.45s;
	width: 90%;
}

.event-side-block__text p {
	line-height: 2;
}

.event-side-block #map {
	width: 80%;
	height: 200px;
	margin: 10px auto;
	border-radius: 10px;
	border: 1px solid purple;
}

.event-reservations input[type="number"] {
	border-radius: 10px;
	background: rgb(181, 129, 185);
	outline: none;
	border: none;
	color: white;
	transition: 0.35s;
	padding: 5px;
	width: 15%;
}
.event-reservations input[type="number"]:focus {
	border: 1px solid indigo;
	background-color: purple;
	transition: 0.15s;
}

/* EVENT CREATE/EDIT FORM */

.create-block__form {
	width: 70%;
	overflow: hidden;
	margin: 20px auto;
	padding: 20px 10px 20px 10%;
	background-color: rgba(104, 93, 104, 0.1);
	border-radius: 10px;
}

.create-block__form__each {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.create-block__form__each--label  {
	width: 30%;
	display: inline-block;
}
.create-block__form__each--input {
	width: 70%;
}

.create-block__form input {
	width: 40%;
	background: none;
	border: none;
	outline: none;
	padding: 8px 0;
	margin: 18px 0 18px 0px;
	font-size: 0.9em;
	color: purple;
	border-bottom: 0.5px solid purple;
	transition: 0.25s;
	background-color: rgba(247, 248, 250, 0.3);
}
.create-block__form input:focus {
	width: 60%;
	border-bottom: 1px solid indigo;
	color: indigo;
	background-color: rgba(128, 0, 128, 0.1);
}
/* DESCRIPTION INPUT  */
#create_concert_description {
	width: 60%;
	height: 80px;
	background: none;
	border: none;
	outline: none;
	margin: auto;
	padding: 8px 0;
	margin: 0;
	font-size: 18px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: purple;
	transition: 0.25s;
	border-bottom: 0.5px solid purple;
	background-color: rgba(247, 248, 250, 0.3);
}
#create_concert_description:focus {
	width: 99%;
	height: 200px;
	border: 1px solid indigo;
	color: indigo;
	background-color: rgba(128, 0, 128, 0.1);
	transition: 0.25s;
}
/* DATE INPUT  */
#create_concert_date_date, #form_date_date {
	display: inline;
}
#create_concert_date_time, #form_date_time {
	display: inline;
}
#create_concert_date select, #form_date select{
	background-color: initial;
	border-radius: 10px;
	background: rgb(181, 129, 185);
	outline: none;
	color: white;
	transition: 0.35s;
	padding: 5px;
	cursor: pointer;
}
#create_concert_date select:focus,#form_date select:focus {
	border: 1px solid indigo;
	background-color: purple;
	transition: 0.15s;
}
/* MAX PLACES & PRICE INPUT */
.create-block__form input[type=number] {
	width: 10%;
}
/* IMAGE INPUT */
.create-block__form input[type=file] {
	width: 60%;
}
.create-block__form input[type=file]:focus {
	width: 70%;
}
#file-upload-button {
	width: 10%;
	color: green;
}

/* MY EVENTS & MY RESERVATIONS LIST */

.canceled, .past {
	display: none;
}

.currentBtn {
	background: purple;
	cursor: initial;
}

/* MY ACCOUNT */

.account-paramaters-block {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top : 20px;
}

.account__each-parameter {
	padding: 20px;
	margin: 5px;
	font-size: 1.3rem;
}
.account__each-parameter i {
	font-size: 3rem;
}

/* MEDIA QUERY */

	/* PETIT ÉCRAN */
	@media all and (max-width: 1400px) {
	
		/* EVENTS LIST */
		.main {
			width: 90%;
		}

		/* SHOW EVENT */
		.event-sides-block {
			margin-top: -20px;
			margin-bottom: 200px;
		}

		.event-side-block {
			overflow: initial;
			margin-bottom: 20px;
		}

		.event-side-block__text p {
			line-height: 1.5;
		}

	}

    /* SMARTPHONE */
    @media all and (max-width: 600px) {

		/* GÉNÉRAL */
		.title {
			font-size: 1.4rem;
		}
		.each-block {
			width: 100%;
			padding: 0;
		}

		.main {
			width: 80%;
		}

		/* HEADER */
		.header__home {
			padding-left: 10px;
		}

		/* LOGIN & REGISTER */
		.login-block {
			width: 60%;
		}
	
		/* EVENTS LIST */
		.search-form-block {
			width: 95%;
		}

		.search-event-block__content {
			width: 90%;
		}
		.search-event-block .title {
			font-size: 1.6rem;
		}

		.query {
			flex-direction: column;
		}

		.query .title {
		font-size: 1rem;
		}

		.query p, .query a {
			font-size: 0.9rem;
		}

		.query_map_block {
			width: 100%;
			height: 200px;
		}

		.each-event {
			width: 100%;
			flex-direction: column;
		}

		/* SHOW EVENT */
		.desktop-version {
			display: none;
		}

		.smartphone-version {
			display: block;
		}

		.event-introduction .title, .event-content .title {
			font-size: 1.4rem;
		}

		.event-content {
			flex-direction: column-reverse;
			justify-content: initial;
			width: 100%;
			min-height: 0;
		}

		.event-description {
			width: 70%;
		}

		.video-block {
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
		}

		.video-block iframe, .video-block object, .video-block embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.event-sides-block {
			width: 100%;
			height: auto;
			margin-top: 0px;
			margin-bottom: 10px;
		}
		.event-sides-block #map {
			display: none;
		}
		.event-infos {
			border-top-left-radius: 10px 10px;
			border-top-right-radius: 10px 10px;
		}
		.event-reservations {
			border-bottom-left-radius: 10px 10px;
			border-bottom-right-radius: 10px 10px;
		}
		.event-side-block {
			border-radius: 0;
		}
		.event-side-block__text p {
			line-height: 1.4;
		}

		/* EVENT CREATE/EDIT FORM */
		.create-block {
			width: 98%;
			padding: 10px 0;
			margin-top: 0px;
		}

		.create-block__form {
			width: 95%;
			margin: auto;
			padding: 5px;
			margin-bottom: 15px;
		}

		.create-block__form__each {
			width: 99%;
		}

		.create-block__form input {
			width: 80%;
		}
		.create-block__form input:focus {
			width: 100%;
		}		
		#create_concert_date_date {
			display: block;
		}

		/* MY ACCOUNT */
		.account-paramaters-block {
			display: flex;
			flex-direction: column;
		}
		.account__each-parameter {
			font-size: 1.2rem;
		}
		.account__each-parameter i {
			font-size: 2rem;
		}

	} /* END SMARTPHONE */
