{% extends "base.html.twig" %}

{% block body %}

<div class="main">
   {% if message %}
      <p>{{ message }}</p>
   {% else %}
      <p>Rien à voir ici</p>
   {% endif %}
   <div class="btn-block">
      <a href="{{ path('index') }}"><input type="button" class="btn" value="Retour"></a>
   </div>
</div>

{% endblock %}