{% extends "base.html.twig" %}

{% block body %}

    <section><div class="main">
        {% set confirmToken = csrf_token(concert.id) %}

        <div class="title">
            <h2>Confirmation</h2>
            <div class="title--line"></div>
        </div>

        <h3><span class="important-text">{{concert.name}}<br/> {{concert.date | date('d/m/Y à h:i')}}</span></h3>
        <p><span class="error">Voulez-vous vraiment annuler cet événement ?</span></p>
        <p class="details-text">Toutes les réservations pour cet événement seront annulées et un mail informatif sera envoyé à toutes les personnes ayant une réservation pour celui-ci</p>

        <div class="btn-block">
            <a href="{{ path('showConcert', {'id': concert.id}) }}"><input type="button" class="btn" value="Retour"></a>
            <a href="{{ path('cancelConcert', {'id': concert.id, 'organizerToken': organizerToken, 'confirmToken': confirmToken}) }}"><input type="button" class="btn" value="Confirmer l'annulation"></a>
        </div>

    </div></section>

{% endblock %}