{% block title %}Confirmation de votre réservation{% endblock %}

{% block body %}

Merci pour votre réservation, 

Votre réservation {{reservation.id}} au nom de pour le concert {{reservation.concert.name}} bien été validée. 

Vous pouvez retrouver votre réservation en cliquant ici : 
<a href="http://217.160.28.253/concerts/public/index.php/reservations/" {{ reservation.user.id }}><button class="btn">Voir mes réservations</button></a>

Bonne journée à vous.

{% endblock %}
