{% extends 'base.html.twig' %}

{% block body %}

<section>
    <p>Votre réservation a bien été annulée.</p>
    <p><a href="{{ path('concertsList') }}">Voir les concerts</a></p>
</section>

{% endblock %}
