{% extends 'base.html.twig' %}

{% block body %}

<section>
    <div class="main">
        <p>Votre réservation a bien été annulée.</p>
        <div class="btn-block">
            <a href="{{ path('index') }}"><input type="button" class="btn" value="Rechercher un événement"></a>
        </div>
    </div>
</section>

{% endblock %}
