{% extends 'base.html.twig' %}
{% set title = 'Erreur 404' %}
{% block body %}

<article>
    <div class="main">
        <p><span class="error">Erreur 404</span> : Page introuvable</p>
        <div class="btn-block">
            <a href="{{ path('index') }}"><input type="button" class="btn" value="Retour"></a>
        </div>   
    </div>
</article>

{% endblock %}
